h1 { color: black; 
    font-size: 32px; 
    text-align: center; 
    margin-top: 50px; 
   }

p {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 200px; 
  line-height: 0.3;
}

nav a {
    color: pink;
    text-decoration: none;
}

body {
  text-align: center;
  color: white;
  font-size: 18px;
}
